:host {
  background-color: transparent;
  color: inherit;
}

.container_big-card,
.container_big-card * {
  background-color: transparent;

}

.container_big-card {

  /*height: 100%;*/
  width: 420px;
  border-radius: 1rem;

  margin-left: 3rem;
  margin-right: 0.5rem;
  margin-bottom: 4rem;
  border-radius: 1rem;

  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /*CSS das sombras*/
  box-shadow: 1px 30px 51px 9px rgba(43,43,43,0.75);
  -webkit-box-shadow: 1px 30px 51px 9px rgba(43,43,43,0.75);
  -moz-box-shadow: 1px 30px 51px 9px rgba(43,43,43,0.75);

}

.big-card_photo {
  border-top-left-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Faz a imagem ocupar toda a largura do container */
.big-card_photo > a > img {
  border-radius: 1rem;
  /*margin: 1rem;*/
  width: 100%;
  /*min-width: 400px;*/
}

.big-card_photo > a {
  width: 100%;
  padding: 1rem;
}

.big-card_description > p > a{
  margin-right: 1rem;
  margin-left: 1rem;
  color: grey ;
  display: flex;
  justify-content: center;

}


.big-card_description {

  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

.big-card_title > h1 {
  margin: 0.5rem;
  font-size: 44px;
}

