.container_content {
  /*border: solid 1px white;*/
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin-top: 1rem;
}

.content_cover{
  margin-top: 1rem;
  /*border: 1px solid grey;*/
}

.content_cover > img {
  width: 500px;
  min-width: 500px;
  height: 300px;
  /*border: grey 5px solid;*/
  border-radius: 1rem;
}

.content_description {
  margin-top: 1rem;
}


.content_description > p{
  color: rgb(170, 170, 170);
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
