
.container_menu_bar > ul{
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.container_menu_bar > ul > li{
  margin-right: 1.5rem;
  list-style: none;
}

.container_menu_bar > img {
  width: 1rem;
}

.home_icon {
  width: 24px;
  height: 24px;
}
